@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  display: block;

}

div {
	display: block;
}

*, :after, :before {
    box-sizing: inherit;
}

.header-view {
  padding: 3rem 1.5rem;
  background-image: url("header-circled.svg"), linear-gradient(
      rgba(84, 118, 255, 0.7), 
      rgba(119, 44, 115, 0.6)
    ), url("header.png");
  background-position: bottom -1px center;
  background-repeat: no-repeat;
  background-size: 100% auto, auto, cover;
  height: 90vh;
  position: relative;
  width: 100%;
  opacity: 0.7;
}

header h1 {
  color: #fff;
  font-family: Montserrat,sans-serif;
  font-size: 3em;
  left: 5%;
  margin: 0;
  position: relative;
  top: 35%;
  font-weight: 600;
  line-height: 1.125;
}

.jumbotron {
	background: transparent;
	padding-top: 30px;
	padding-bottom: 30px;
  color: #ffffff;
}

.jumbo-title {
  font-weight: 700;
}

.jumbo-info {
  font-weight: 600;
}



