@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap');
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  display: block;
  background-color: #363636;
}

div {
	display: block;
}

form {
  display:inline-block
}

*, :after, :before {
    box-sizing: inherit;
}

#chevron {
  bottom: 9%;
  cursor: pointer;
  display: block;
  left: 50vw;
  padding: 20px 0;
  position: absolute;
  transition-duration: .4s;
  transition-property: bottom;
  transition-timing-function: ease;
}

#chevron:hover {
  bottom: 6%;
}

.section {
  padding: 3rem 1.5rem;
  border-top: 1px solid #fff;
}

.header-view {
  background-image: url("header-circled.svg"), linear-gradient(
      rgba(84, 118, 255, 0.9), 
      rgba(119, 44, 115, 0.8)
    ), url("header.jpg");
  background-position: bottom -1px center, bottom 0px center, bottom 0px center;
  background-repeat: no-repeat;
  background-size: 100% auto, auto, cover;
  height: 90vh;
  position: relative;
  width: 100%;
}

#header-text {
  left: 5%;
  margin: 0;
  position: absolute;
  top: 35%;
}

.header-text-style {
  color: #fff;
  font-family: Montserrat,sans-serif;
  line-height: 1.125;
}

h1.header-text-style {
  font-size: 4em;
  font-weight: 800;
}

h2.header-text-style {
  font-size: 2em;
  font-weight: 400;
}

.button-text-style {
  color: #fff;
  font-family: Montserrat,sans-serif;
  line-height: 1.125;
  font-size: 3em;
  font-weight: 400;
}



.jumbotron {
	background: transparent;
	padding-top: 30px;
	padding-bottom: 30px;
  color: #ffffff;
}

.jumbo-title {
  font-weight: 700;
}

.jumbo-info {
  font-weight: 600;
}

#logo {
  width: 250px;
  height: auto;
}

div.narrow {
  margin: 25px 75px 25px 75px;
  text-align: center;
}

div.section {
  display: inline-block;
}

button.widget {
  height: 300px;
  width: 300px;
  background: none;
  border-radius: 20px;
  border-width: 4px;
  border-color: #fff;
  cursor: pointer;
  margin-left: 25px;
  margin-right: 25px;
  box-sizing: border-box;
}

button.widget:hover {
  background: linear-gradient(349deg, rgba(45, 45, 45, 1) 5%, rgba(119, 44, 115, 1) 55%, rgba(84, 118, 255, 1) 77%);
}


.iframe-track {
  position: relative;
  height: 231px;
  width: 231px; 
  padding-left: 25px;
  padding-right: 25px;
}
