{% extends "base.html" %}

{% block styles %}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/cover.css') }}">
{% endblock %}

{% block app_content %}
  <header class="header-view">
    <div class="container">
      <h1>Discover Daily</h1>
      <h1>Welcome to Discover Daily!</h1>
      <a href="" id="chevron">
      </a>

    </div>
  </header>
  <h1>Discover songs based on artists and songs you love!</h1>
  <form action="/authorize" method="get">
    <button type="submit">
      What are my top songs?
    </button>
  </form>
  <div>
    <p>Inspired by Spotify's Discover Weekly playlists, this website was designed
      to give Spotify users more versatility with their music. This website allows
      users to see their top tracks and artists, and can create playlists based
      off a user's preferences (in the hope of creating a Discover Daily playlist).
      
    <iframe src="https://open.spotify.com/follow/1/?uri=spotify:user:lucaoh21&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
  </div>
{% endblock %}
