{% extends "base.html" %}

{% block title %}TopTracks{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}


{% block content %}

<div class="py-5">
    <div class="container">
      <div class="row page-info">
      	<div class="col-xs-12 col-md-4">
      		<h1>Top Tracks</h1>
      	</div>
      	<div class="col-xs-12 col-md-8">
      		<p>We curate your most listened to tracks over the last month, 6 months, and all-time. With the click of a button you can create a Spotify playlist that contains all of these tracks. We will automatically update your playlist to keep it up to date with your top tracks.</p>
      	</div>
      </div>
      <div class="row">
      	<div class="col-md-4">
	      <div class="form-content">
	        <ul class="form-list">
	          <li class="form-header">
	          	<h1>Last Month</h1>
	          </li>
	          <li class="form-line">
	            <div class="form-box">
	              <div class="form-scroll">
	                <div id="short">
	                  {% for track in track_ids[0] %}
	                    <div>
	                      <iframe class="iframe-track" src="https://open.spotify.com/embed/track/{{ track }}" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
	                    </div>
	                  {% endfor %}
	                </div>
	              </div>
	            </div>
	          </li>
	          <li class="form-submit">
	            <button type="button" class="btn btn-default form-button" data-toggle="modal" data-target="#basicExampleModal">
	              <i class="fas fa-clipboard-check"></i>
	              <p>Save Playlist to Spotify</p>
	            </button>
	          </li>
	        </ul>
	      </div>
	    </div>

	    <div class="col-md-4">
	      <div class="form-content">
	        <ul class="form-list">
	          <li class="form-header">
	          	<h1>6 Months</h1>
	          </li>
	          <li class="form-line">
	            <div class="form-box">
	              <div class="form-scroll">
	                <div id="medium">
	                  {% for track in track_ids[1] %}
	                    <div>
	                      <iframe class="iframe-track" src="https://open.spotify.com/embed/track/{{ track }}" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
	                    </div>
	                  {% endfor %}
	                </div>
	              </div>
	            </div>
	          </li>
	          <li class="form-submit">
	            <button type="button" class="btn btn-default form-button" data-toggle="modal" data-target="#basicExampleModal">
	              <i class="fas fa-clipboard-check"></i>
	              <p>Save Playlist to Spotify</p>
	            </button>
	          </li>
	        </ul>
	      </div>
	    </div>

	    <div class="col-md-4">
	      <div class="form-content">
	        <ul class="form-list">
	          <li class="form-header">
	          	<h1>All-Time</h1>
	          </li>
	          <li class="form-line">
	            <div class="form-box">
	              <div class="form-scroll">
	                <div id="long">
	                  {% for track in track_ids[2] %}
	                    <div>
	                      <iframe class="iframe-track" src="https://open.spotify.com/embed/track/{{ track }}" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
	                    </div>
	                  {% endfor %}
	                </div>
	              </div>
	            </div>
	          </li>
	          <li class="form-submit">
	            <button type="button" class="btn btn-default form-button" data-toggle="modal" data-target="#basicExampleModal">
	              <i class="fas fa-clipboard-check"></i>
	              <p>Save Playlist to Spotify</p>
	            </button>
	          </li>
	        </ul>
	      </div>
	    </div>
      </div>

          <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-left">
            <h1 class="modal-title" id="exampleModalLabel">Get your Top Tracks!</h1>
              <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p class="modal-info">Discover Daily will create a Spotify playlist with your most played tracks for the selected time period.</p>
                <p>{{ form.short_term() }} {{ form.short_term.label }}</p>
                <p>{{ form.medium_term() }} {{ form.medium_term.label }}</p>
                <p>{{ form.long_term() }} {{ form.long_term.label }}</p>
                <p class="modal-info">Your favorite music is always changing. Would you like Discover Daily to automatically sync and update your Most Played playlist(s)?</p>
                <p>{{ form.sync() }} {{ form.sync.label }}</p>
                <p>
                  {{ form.playlist_name.label }}<br>
                  {{ form.playlist_name(size=32) }}
                </p>
                <p>{{ form.submit() }}</p>
              </form>
            <!-- </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Create My Playlist</button>
            </div> -->
          </div>
          <div class="modal-right">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}

{% endblock %}