{% extends "base.html" %}

{% block app_content %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type=text/javascript>
    // $(function() {
    //   $('a#start').bind('click', function() {
    //     $.getJSON('/playback/start',
    //        function(data) {
    //         //do nothing
    //        });
    //     return false;
    //   });
    // });
    // $(function() {
    //   $('a#pause').bind('click', function() {
    //     $.getJSON('/playback/pause',
    //        function(data) {
    //         //do nothing
    //        });
    //     return false;
    //   });
    // });
    // $(function() {
    //   $('a#previous').bind('click', function() {
    //     $.getJSON('/playback/previous',
    //        function(data) {
    //         //do nothing
    //        });
    //     return false;
    //   });
    // });
    // $(function() {
    //   $('a#skip').bind('click', function() {
    //     $.getJSON('/playback/skip',
    //        function(data) {
    //         //do nothing
    //        });
    //     return false;
    //   });
    // });
    // function showPopup() {
    //   var popup = document.getElementById("devices");
    //   popup.classList.toggle("show");
    // }
  </script>

<!--   <div class="navbar">
    <div class="playback">
      <form class="playback-item">
        <a href=# id=previous>
          <button class="btn btn-default playback-button">
            <i class="fa fa-step-backward"></i>
          </button>
        </a>
      </form>
      <form class="playback-item">
        <a href=# id=start>
          <button class="btn btn-default playback-button">
            <i class="fa fa-play-circle"></i>
          </button>
        </a>
      </form>
      <form class="playback-item">
        <a href=# id=pause>
          <button class="btn btn-default playback-button">
            <i class="fa fa-stop-circle"></i>
          </button>
        </a>
      </form>
      <form class="playback-item">
        <a href=# id=skip>
          <button class="btn btn-default playback-button">
            <i class="fa fa-step-forward"></i>
          </button>
        </a>
      </form>
      <div class="popup playback-item" onclick="showPopup()">
        <i class="fas fa-desktop"></i>
        <span class="popup-content" id="devices">
          {% for device in devices %}
            {% if 'Computer' == device[2] %}
              <i class="fas fa-desktop"></i>
            {% elif 'Smartphone' == device[2] %}
              <i class="fas fa-mobile-alt"></i>
            {% elif 'Tablet' == device[2] %}
              <i class="fas fa-tablet-alt"></i>
            {% elif 'TV' == device[2] %}
              <i class="fas fa-tv"></i>
            {% else %}
              <i class="fas fa-microphone-alt"></i>
            {% endif %}
            <p>{{ device[1] }}</p>
          {% endfor %}
          <a href=# id=skip>
            <button class="btn btn-default playback-button">
             <i class="fa fa-step-forward"></i>
            </button>
          </a>
        </span>
      </div>
    </div>
  </div> -->

  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to Discover 2.0!</h1>
      <p>A way for you to check out your favorite tracks and discover new music.</p>
    </div>
  </div>

<!--   <h1 class="header">Hello {{ user }}!</h1>
 -->
  <div class="col-md-4">
    <div class="form-content">
      <ul class="form-list">
        <li class="form-line-header">
          <h1>Your Favorite Songs</h1>
        </li>
        <li class="form-line">
          <div>
            <ul  class="nav nav-tabs nav-justified">
              <li class="active">
                <a  href="#short" data-toggle="tab">Short Term</a>
              </li>
              <li>
                <a href="#medium" data-toggle="tab">Medium Term</a>
              </li>
              <li>
                <a href="#long" data-toggle="tab">Long Term</a>
              </li>
            </ul>
            <!-- <h2 class="form-header">
              RideShare Terms & Conditions
            </h2> -->
          </div>
        </li>
        <li class="form-line">
          <div class="form-box">
            <div class="form-scroll">
              <div class="tab-content">
                <div id="short" class="tab-pane fade in active">
                  {% for track in track_ids[0] %}
                    <div>
                      <iframe class="iframe-track" src="https://open.spotify.com/embed/track/{{ track }}" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </div>
                  {% endfor %}
                </div>
                <div id="medium" class="tab-pane fade">
                  {% for track in track_ids[1] %}
                    <div>
                      <iframe class="iframe-track" src="https://open.spotify.com/embed/track/{{ track }}" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </div>
                  {% endfor %}
                </div>
                <div id="long" class="tab-pane fade">
                  {% for track in track_ids[2] %}
                    <div>
                      <iframe class="iframe-track" src="https://open.spotify.com/embed/track/{{ track }}" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="form-submit">
           <button class="form-button" id="accept-terms" type="submit">Accept</button>
           <button class="form-button" id="decline-terms" type="submit">Decline</button>
        </li>
      </ul>
    </div>
  </div>






 <!--  <div class="col-md-4">
    <div class="panel panel-default">
          <div class="panel-heading">
            <p>Recommended Tracks</p>
          </div>
      <div class="panel-body">
        {% for track in rec_track_ids %}
        <div>
          <iframe class="iframe-track" src="https://open.spotify.com/embed/track/{{ track }}" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
      {% endfor %}
      </div>
    </div>
  </div> -->

 <!--  <div>
    <h3>Recommended tracks:</h3>
    {% for track in rec_track_ids %}
      <div>
        <iframe src="https://open.spotify.com/embed/track/{{ track }}" width="500" height="100" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
    {% endfor %}
  </div> -->
{% endblock %}
